* {
  margin: 0;
  padding: 0;
}

.page-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: $PrimaryTextBrightLight;
  margin-top: 1rem;
}

.sliding-page {
  box-sizing: border-box;
  height: 100vh;
  min-height: 800px;
  width: 100%;
  min-width: 1200px;

}