$transparent: rgba(240,240,240,0);

$PrimaryBackgroundDark: rgb(15,25,34);
$PrimaryBackgroundLight: rgb(235, 235, 225);

$PrimaryInputBackground: rgb(32,39,49);

$PrimaryTextLight: rgb(190, 190, 205);
$PrimaryTextDark: rgb(50, 50, 65);
$PrimaryTextBrightLight: rgb(8,253,216);
$PrimaryTextBrightFade: rgba(100,255,218,0.1);

$PrimaryTextBrightDark: rgb(1, 126, 108);
