.Home {
  position: sticky;
  top: 0;
  width: 100%;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-color: $PrimaryBackgroundLight;
  color: $PrimaryTextDark;
  h2 {
    font-size: 4.6rem;
    font-weight: bold;
    width: 64%;
    margin-top: 12%;
    margin-left: 5%;
    span {
      @include alternateColor(#a4567e, #DF8453, $PrimaryTextBrightDark);

    }
  }
}